# Операции с DataFrame

In [2]:
import pandas as pd
import numpy as np

## Создание из словаря

In [5]:
feature_1 = np.arange(1, 6, 1)
feature_2 = np.arange(21, 26, 1)

dataframe_1 = pd.DataFrame({ 'feature_1': feature_1, 'feature_2': feature_2 })
dataframe_1

   feature_1  feature_2
0          1         21
1          2         22
2          3         23
3          4         24
4          5         25

In [6]:
feature_1 = np.arange(101, 106, 1)
feature_2 = np.arange(201, 206, 1)

dataframe_2 = pd.DataFrame({ 'feature_1': feature_1, 'feature_2': feature_2 })
dataframe_2

   feature_1  feature_2
0        101        201
1        102        202
2        103        203
3        104        204
4        105        205

## Соединение таблиц

In [7]:
dataframe_3 = coef_df = pd.concat([dataframe_1, dataframe_2], ignore_index=True)
dataframe_3

   feature_1  feature_2
0          1         21
1          2         22
2          3         23
3          4         24
4          5         25
5        101        201
6        102        202
7        103        203
8        104        204
9        105        205