# Примеры получения готовых табличных данных

## Библиотека Seaborn

Здесь набор возможных встроенных датасетов https://github.com/mwaskom/seaborn-data .\
Получим данные об ирисах.

In [8]:
import seaborn as sns

iris_data = sns.load_dataset('iris')
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Библиотека scikit-learn

Здесь набор возможных датасетов https://scikit-learn.org/stable/datasets.html \
Также получим данные об ирисах.

In [9]:
from sklearn.datasets import load_iris

iris_data_full = load_iris(as_frame=True)

# data.data - содержит числовые значения
# data.feature_names - содержит числовые имена столбцов
# data.target - содержит категориальные (видовые) значения (в виде целых чисел)
# data.target_names - содержит уникальные категориальные имена
# data.frame - содержит табличные данные

iris_data = iris_data_full['frame']
iris_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## Полезные ссылки

- [Десять датасетов для практики работы с линейной регрессией](https://www.telusinternational.com/insights/ai-data/article/10-open-datasets-for-linear-regression)